<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Multiplayer Snake Game</h1>
    <h3 class="hs">High Score by <span class="highscore"></span></h3>
    <div class="game__container">
        <div class="game__death">
            <h3>You Exploded!</h3>
            <p>Final Score: <span class="final-score"></span></p>
            <p class="death-message"></p>
            <div class="buttons">
                <button id="play-again">Respawn</button>
                <button id="quit">Quit</button>
            </div>
        </div>
        <canvas class="game__canvas" id="myCanvas"></canvas>
    </div>
    <div class="score__container">
        <ol class="scores">
        </ol>
    </div>
    <script>
        const username = "<%= username %>";
        const color = "<%= color %>";
    </script>
    <script src="socket.io/socket.io.js"></script>
    <script src="canvas.js"></script>
    <script src="socket.js"></script>
</body>
</html>