<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Welcome, <%= username %></h1>
    <div class="game__container">
        <canvas class="game__canvas" id="myCanvas"></canvas>
    </div>
    <script>
        const username = "<%= username %>";
        const color = "<%= color %>";
    </script>
    <script src="socket.io/socket.io.js"></script>
    <script src="canvas.js"></script>
    <script src="socket.js"></script>
</body>
</html>