<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Welcome, <%= username %></h1>
    <div class="game__container">
        <div class="game__death">
            <h3>You dead, homie</h3>
            <p>Wanna Keep Playing?</p>
            <div class="buttons">
                <button id="play-again">Yes</button>
                <button id="quit">Hecks Nah</button>
            </div>
        </div>
        <canvas class="game__canvas" id="myCanvas"></canvas>
    </div>
    <div class="score__container">
        <ol class="scores">
        </ol>
    </div>
    <script>
        const username = "<%= username %>";
        const color = "<%= color %>";
    </script>
    <script src="socket.io/socket.io.js"></script>
    <script src="canvas.js"></script>
    <script src="socket.js"></script>
</body>
</html>