<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="register.css">

</head>
<body>
    <div class="register">
        <h1>Register</h1>
        <p style="color: red;"><%= error %></p>
        <form method="POST">
            <label>Username</label>
            <input id="username" type="text" name="username">
            <br>

            <label>Color</label>
            <input id="color" value="#0000ff" type="color" name="color">
            <br>

            <input type="submit" name="submit">
        </form>
        <a class="github" target="_blank" href="https://github.com/ep943087/multiplayer-snake-game">Github Repository</a>
    </div>
    <script>
        document.querySelector('input').focus();
        const color = document.querySelector('#color');
        const value = localStorage.getItem('color');
        if(value !== null){
            color.value = value;
        } else{
            localStorage.setItem('color',color.value);
        }
        color.addEventListener('input',(e)=>{
            const value = color.value;
            localStorage.setItem('color',value);
        })

        const username = document.querySelector('#username');
        const username_value = localStorage.getItem('username');
        if(username_value !== null){
            username.value = username_value;
        } else{
            localStorage.setItem('username',username.value);
        }
        username.addEventListener('input',(e)=>{
            const value = username.value;
            localStorage.setItem('username',value);
        })

    </script>
</body>
</html>