<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <p style="color: red;"><%= error %></p>
    <form method="POST">
        <label>Username</label>
        <input type="text" name="username">
        <label>Color</label>
        <input id="color" type="color" name="color">
        <input type="submit" name="submit">
    </form>
    <script>
        document.querySelector('input').focus();
    </script>
</body>
</html>