
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game__container{
    width: 95vw;
    max-width: 500px;
    height: 80vh;
    max-height: 500px;
}

.game__canvas{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}